body {
	margin: 0;
	direction: rtl;
	background: #f2f2f2;
	font-family: Roboto, sans-serif;
}

html {
	overflow-y: scroll;
}

.ReactVirtualized__Table {
	background-color: #ffffff !important;
}

.ReactVirtualized__Grid {
	outline: none;
	direction: rtl !important;
	background-color: #ffffff !important;
}

.ReactVirtualized__Table__headerRow {
	font-weight: normal;
	font-size: 12px;
	padding-right: 0 !important;
	/*padding-left: 24px;*/
	height: 58px;
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgb(158, 158, 158);
	position: relative;
	background-color: inherit;
	border-bottom: 1px solid rgb(224, 224, 224);
}

.ReactVirtualized__Table__headerColumn {
	font-weight: normal;
	font-size: 12px;
	padding-right: 24px;
	/*padding-left: 24px;*/
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgb(158, 158, 158);
	position: relative;
	background-color: inherit;
}

.ReactVirtualized__Table__row {
	border-bottom: 1px solid rgb(224, 224, 224);
	color: rgba(0, 0, 0, 0.87);
	height: 48px;
}

.ReactVirtualized__Table__rowColumn {
	padding-right: 24px;
	/*padding-left: 24px;*/
	text-align: right;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: inherit;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
	font-family: Roboto, sans-serif;
	color: rgba(0, 0, 0, 0.870588);
	padding: 16px;
}

.text {
	font-size: 14px;
	font-family: Roboto, sans-serif;
	color: rgba(0, 0, 0, 0.870588);
}

.formContainer {
	padding: 16px;
}

.buttonsContainer {
	padding: 8px;
	display: inline-block;
}

.main-container-padding {
	padding: 0;
}

input[type=text]::-ms-clear{
	display: none;
}

.textFieldBottomMargin {
	margin-bottom: 28px;
}

@media only screen and (min-width: 600px) {
	.main-container-padding {
		padding: 7%;
	}
}

@media only screen and (min-width: 1200px) {
	.main-container-padding {
		padding: 120px;
	}
}
